<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>891704774486-hooqjhjiqi7dh2il9m2h2uhvphkas1so.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.891704774486-hooqjhjiqi7dh2il9m2h2uhvphkas1so</string>
	<key>API_KEY</key>
	<string>AIzaSyB0p1cXNuz1qDkTFdki61Pku17-WMSAAkQ</string>
	<key>GCM_SENDER_ID</key>
	<string>891704774486</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chandnirajasekaran.Expense-Tracking</string>
	<key>PROJECT_ID</key>
	<string>expensetracker-39eae</string>
	<key>STORAGE_BUCKET</key>
	<string>expensetracker-39eae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:891704774486:ios:1c3c3127e34ecefc3310f7</string>
	<key>DATABASE_URL</key>
	<string>https://expensetracker-39eae.firebaseio.com</string>
</dict>
</plist>